In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats as st

# Q 1

In [11]:
cl = pd.read_csv(r"C:\Users\DELL\Desktop\bharath's file\DS\csv\Cutlets.csv")
cl.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [12]:
st.ttest_ind( cl['Unit A'],cl['Unit B'])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.47223947245995)

# Q 2

In [13]:
LT = pd.read_csv(r"C:\Users\DELL\Desktop\bharath's file\DS\csv\LabTAT.csv")
LT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
st.f_oneway(LT['Laboratory 1'], LT['Laboratory 2'],LT['Laboratory 3'],LT['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Q 3

In [15]:
BR = pd.read_csv(r"C:\Users\DELL\Desktop\bharath's file\DS\csv\BuyerRatio.csv")
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
import pandas as pd
from scipy import stats

In [17]:
Males = [50,142,131,70]
Females = [435,1523,1356,750]
Sales = [Males,Females]

In [18]:
chistats = stats.chi2_contingency(Sales)
print('Test t=%f p-value=%f' % (chistats[0], chistats[1]))
print('Interpret by p-Value')
if chistats[1] < 0.05:
    print ('we reject null hypothesis')
else:
    print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-Value
we accept null hypothesis

# Q 4 a

In [7]:
CO = pd.read_csv(r"C:\Users\DELL\Desktop\bharath's file\DS\csv\Costomer+OrderForm.csv")
CO.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [8]:
Phillippines = CO.Phillippines.value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
Indonesia = CO.Indonesia.value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
Malta = CO.Malta.value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
India = CO.India.value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
ErrorFree = [271,267,269,271]
Defective = [29,33,31,29]

In [14]:
chistats_defective = stats.chi2_contingency([ErrorFree,Defective])
print('Test t=%f p-Value=%f' % (chistats_defective[0],chistats_defective[1]))
print('Interpret by p-vlaue')
if chistats_defective[1] < 0.05:
    print('we reject null hypothesis')
else:
    print('we fail to reject null hypothesis')

Test t=0.401472 p-Value=0.939938
Interpret by p-vlaue
we fail to reject null hypothesis

# Q 4 b

In [26]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

In [27]:
Fl = pd.read_csv(r"C:\Users\DELL\Desktop\bharath's file\DS\csv\Faltoons.csv")
Fl.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [28]:
Fl.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [29]:
Fl.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [30]:
count = np.array([250, 520]) # how many males and Females
nobs = np.array([400,400])  # Total number of Male and Female are there

stat, pval = proportions_ztest(count, nobs,alternative='two-sided')

In [31]:
pval

0.0